//
//
//  Color Theme - dark-blue
//
//

$theme-dark-blue: (
  bg:                         #222831,
  headline:                   #fffffe,
  text:                       #EEEEEE,
  text-thin:                  lighten(#EEEEEE, 25),
  link:                       #00ADB5,
  border:                     #EEEEEE,
  border-thin:                lighten(#EEEEEE, 70),
  border-focus:               #EEEEEE,

  // pre
  pre-bg:                     #393E46,
  pre-border:                 lighten(#00ADB5, 15),
  pre-text:                   #EEEEEE,

  // code
  code-bg:                    #daf1e0,
  code-text:                  #228b22,

  // kbd
  kbd-bg:                     #f2eef5,
  kbd-text:                   #181818,
  kbd-border:                 #181818,

  // mark
  mark-bg:                    #fbdd74,
  mark-text:                  #2e2e2e,

  // buttons
  btn-bg:                     #ffffff,
  btn-text:                   #181818,
  btn-border:                 #b3b3b3,
  btn-bg-hover:               darken(#ffffff, 15),
  btn-text-hover:             darken(#181818, 15),
  btn-border-hover:           darken(#b3b3b3, 15),
  btn-bg-disabled:            darken(#ffffff, 30),
  btn-text-disabled:          darken(#181818, 30),
  btn-border-disabled:        darken(#b3b3b3, 15),

  btn-submit-bg:              #00ADB5,
  btn-submit-text:            #EEEEEE,
  btn-submit-border:          darken(#00ADB5, 15),

  btn-submit-bg-hover:        lighten(#00ADB5, 10),
  btn-submit-text-hover:      lighten(#EEEEEE, 10),
  btn-submit-border-hover:    lighten(#00ADB5, 20),
  btn-submit-bg-disabled:     darken(#00ADB5, 45),
  btn-submit-text-disabled:   darken(#EEEEEE, 45),
  btn-submit-border-disabled: darken(#00ADB5, 30),

  btn-reset-bg:               #ffffff,
  btn-reset-text:             #181818,
  btn-reset-border:           #b3b3b3,
  btn-reset-bg-hover:         darken(#ffffff, 15),
  btn-reset-text-hover:       darken(#181818, 15),
  btn-reset-border-hover:     darken(#b3b3b3, 15),
  btn-reset-bg-disabled:      darken(#ffffff, 30),
  btn-reset-text-disabled:    darken(#181818, 30),
  btn-reset-border-disabled:  darken(#b3b3b3, 15),
);


