//
//
//  Colors Theme - Dark
//
//

$theme-dark: (
  bg:                         #0d1117,
  headline:                   #fffffe,
  text:                       #f0f1f4,
  text-thin:                  lighten(#f0f1f4, 25),
  link:                       #ff8906,
  border:                     #181818,
  border-thin:                lighten(#181818, 70),

  // pre
  pre-bg:                     #ffe6ff,
  pre-border:                 #cbff00,
  pre-text:                   #f0f1f4,

  // code
  code-bg:                    #333333,
  code-text:                  #f0f1f4,

  // kbd
  kbd-bg:                     #f2eef5,
  kbd-text:                   #181818,
  kbd-border:                 #181818,

  // mark
  mark-bg:                    #fbdd74,
  mark-text:                  #2e2e2e,

  // buttons
  btn-bg:                     #21262b,
  btn-text:                   #f0f1f4,
  btn-border:                 #30363d,
  btn-bg-hover:               lighten(#21262b, 15),
  btn-text-hover:             lighten(#f0f1f4, 15),
  btn-border-hover:           lighten(#30363d, 15),
  btn-bg-disabled:            lighten(#21262b, 15),
  btn-text-disabled:          darken(#f0f1f4, 15),
  btn-border-disabled:        #30363d,

  btn-submit-bg:              #21262b,
  btn-submit-text:            #f0f1f4,
  btn-submit-border:          #30363d,
  btn-submit-bg-hover:        darken(#21262b, 15),
  btn-submit-text-hover:      darken(#f0f1f4, 15),
  btn-submit-border-hover:    darken(#30363d, 15),
  btn-submit-bg-disabled:     darken(#21262b, 30),
  btn-submit-text-disabled:   darken(#f0f1f4, 30),
  btn-submit-border-disabled: darken(#30363d, 15),

  btn-reset-bg:               #21262b,
  btn-reset-text:             #f0f1f4,
  btn-reset-border:           #30363d,
  btn-reset-bg-hover:         darken(#21262b, 15),
  btn-reset-text-hover:       darken(#f0f1f4, 15),
  btn-reset-border-hover:     darken(#30363d, 15),
  btn-reset-bg-disabled:      darken(#21262b, 30),
  btn-reset-text-disabled:    darken(#f0f1f4, 30),
  btn-reset-border-disabled:  darken(#30363d, 15),
);

