//
//
//  Colors Theme - Sakura
//
//

$theme-sakura: (
  bg:                         #fec7d7,
  headline:                   #fffffe,
  text:                       #fffffe,
  text-thin:                  #fffffe,
  link:                       #ff77ff,
  border:                     #ff80ff,
  border-thin:                lighten(#ff80ff, 20),
  border-focus:               lighten(#ff80ff, 50),

  // pre
  pre-bg:                     #fda4bf,
  pre-border:                 red,
  pre-text:                   #ffffff,

  // code
  code-bg:                    #daf1e0,
  code-text:                  #228b22,

  // kbd
  kbd-bg:                     #f2eef5,
  kbd-text:                   #181818,
  kbd-border:                 #181818,

  // mark
  mark-bg:                    #fbdd74,
  mark-text:                  #2e2e2e,

  // buttons
  btn-bg:                     #ffffff,
  btn-text:                   #181818,
  btn-border:                 #30363d,
  btn-bg-hover:               darken(#ffffff, 15),
  btn-text-hover:             darken(#181818, 15),
  btn-border-hover:           darken(#b3b3b3, 15),
  btn-bg-disabled:            darken(#ffffff, 30),
  btn-text-disabled:          darken(#181818, 30),
  btn-border-disabled:        darken(#b3b3b3, 15),

  btn-submit-bg:              #4fc4cf,
  btn-submit-text:            #181818,
  btn-submit-border:          #b3b3b3,
  btn-submit-bg-hover:        darken(#4fc4cf, 15),
  btn-submit-text-hover:      darken(#181818, 15),
  btn-submit-border-hover:    darken(#b3b3b3, 15),
  btn-submit-bg-disabled:     darken(#4fc4cf, 30),
  btn-submit-text-disabled:   darken(#181818, 30),
  btn-submit-border-disabled: darken(#b3b3b3, 15),

  btn-reset-bg:               #ffffff,
  btn-reset-text:             #181818,
  btn-reset-border:           #b3b3b3,
  btn-reset-bg-hover:         darken(#ffffff, 15),
  btn-reset-text-hover:       darken(#181818, 15),
  btn-reset-border-hover:     darken(#b3b3b3, 15),
  btn-reset-bg-disabled:      darken(#ffffff, 30),
  btn-reset-text-disabled:    darken(#181818, 30),
  btn-reset-border-disabled:  darken(#b3b3b3, 15),
);

