//
//
//  Link & Navigation
//
//

//-----------------------------------------------------------------------------
//  Link
//-----------------------------------------------------------------------------
a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


//-----------------------------------------------------------------------------
//  Navigation
//-----------------------------------------------------------------------------
nav {
  text-align: center;

  ul {
    list-style: none;
    margin-left: 0;
    text-align: center;

    li {
      display: inline-block;
      vertical-align: middle;
      margin-left: $space * 0.5;
      margin-right: $space * 0.5;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

