//
//
//  List
//
//

//-----------------------------------------------------------------------------
// List
//-----------------------------------------------------------------------------
li {
  ol, ul {
    margin-bottom: 0;
  }
}


//-----------------------------------------------------------------------------
// Definition List
//-----------------------------------------------------------------------------
dl {
  display: inline-block;
  margin-bottom: 1.75rem;
}

dt {
  padding: 0 1.2rem;
}

dd {
  margin-left: $space;
  padding: 0 1.2rem;
}

